body{
	background-color:#999
}
.dn{
    display:none !important
}
.p0{
	padding:0px;
}
.b0{
    border:none !important;
}
.pl10{
    padding-left:10px;
}

.show-read-more .more-text{
    display: none;
}

.mb70{
    margin-bottom:70px;
}

#menu ul li{
    padding:0px 20px;
    padding-left:0px;
    list-style:none;
}

#header {
    background: #fff;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    line-height: 40px;
    height: 40px;
    padding: 0 50px;
}

#header a {
    background: center center no-repeat transparent;
    background-image: url('../img/icon/menu.png');
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    background-size:30px;
    top: 0;
    left:3px;
}

.timeline{
    padding-top:5px;
}
.preview_panel{
    padding:5px;
}
span.world {
    background-image: url("../img/world.png");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 12px;
    height: 12px;
    display: inline-block;
    line-height: 11px;
}

.preview_panel .profile a {
    color: #000;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    font-size: 11px;
}

.preview_panel .profile p {
    color: #90949c;
    font-size: 10px;
}

.plr5{

	padding-left:5px;
	padding-right:5px;

}
.img_profie img{

	width:40px;
	height:40px;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
}
div.profile{
	padding-left:5px;
	padding-top:2px;
}

.bg-white{
	background-color:#fff;
	overflow:hidden;
    margin-bottom:10px;
}

.preview_message {
    padding:10px;
    font-size: 13px;
    line-height: 20px;
    padding-top: 0px;
}

.preview-img img {
    width: 100% !important;
}

.action-panel ul {
    list-style-type: none;
    padding: 0px;
    margin-top: 20px;
    margin-left:0;
    margin-right:0;
    
}

.action-panel ul li {
    width: 49%;
    text-align: center;
    list-style-type: none;
    display: inline-block;
}

.action-panel ul li a,
.action-panel ul li button{
    background-color:#f15a24;
    border-radius:20px;
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
    color:#fff;
    text-transform:uppercase;
    padding:10px 30px;
    font-size:12px;
}
.action-panel ul li button{
    border:none;
}

button.like{
    background-image: url("../img/icon/t-like.jpg");
    
    display: inline-block;
    background-size:22px 22px;
    background-repeat:no-repeat;
    background-position:10% 40%;
    padding-left:30px;
    text-decoration:none;
}
button.like span,
a.rework span {
    padding-left:10px !important;
}
.action-panel ul li a.rework{
    background-color:transparent;
    border:2px solid #f15a24;
    color:#f15a24;
    background-image: url("../img/icon/t-unlike.jpg");
    display: inline-block;
    background-size:22px 22px;
    background-repeat:no-repeat;
    background-position:10% 40%;
    padding-left:30px;
    text-decoration:none;
}
.read-more{
    color:#666 !important
}

.comment_panel{

    overflow:hidden;
}

.frmComment label{
    font-weight:normal;
    font-size:12px;
    color:#f15a24;

}


.frmComment .btnSubmit{
    background-color:#f15a24;
    border-radius:20px;
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
    color:#fff;
    padding-left:20px;
    padding-right:20px;
    margin-top:10px;
}
.frmComment textarea{
    border:1px solid #f15a24;
    min-height:80px;
    box-shadow:none !important;
    box-shadow:none !important;
}
.r{
    width:100%;
    margin-bottom:5px;
    overflow:hidden;
}
.r .p_p{
    width:15%;
}

.r .p_p img{
    width:85%;
    border:1px solid #ddd;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;

}

.r .p_tx{
    width:85%;
    padding-top:5px;
    padding-right:10px;
}

.approved{
    pointer-events:none;
    background-color:#ccc
}

.approved .action-panel{
    display:none;
}

.mmenu{
    background-color:#fff !important
}

.mmenu *{
    text-shadow:none !important
}

.fc td, .fc th{

    border:none !important;
    text-align:center !important;
    padding:5px 0px !important;
}

.fc-left{
    width:100%;
    position:relative;
    min-height:30px;
    margin-top:10px;
}

.fc-right{
    display:none;
}
.fc-left h2{
    text-transform:uppercase;
    padding-top:8px;
}
.fc-left .fc-prev-button{
  
   position:absolute;
   left:20px;
   top:0px;
   background:none !important;

}

.fc-left .fc-next-button{
  
    position:absolute;
    right:0px;
    top:0px;
    background:none !important;
}

.fc .fc-toolbar>*>*{
    float:none !important;
    margin-left:0px !important;
}

#calendar{
    /*width:280px !important*/
}

.fc-basic-view .fc-body .fc-row{
    min-height:2em !important
}

.fc-left h2 {
    text-transform: uppercase;
    padding-top: 8px;
    font-size:14px !important;

}

.fc-ltr .fc-basic-view .fc-day-number{
    cursor:pointer !important
}
.menu-bar{
    background-color:#f15a24;
    padding:10px 10px;

}

.mmenu > ul{
    padding:0px;
}

.mmenu li{
    border:none;
    padding-top:10px;
}

.img-logo{
    width:100px;
}

.menu_panel{
    background-color:#f15a24;
    padding:10px !important;
}

.fc-event{
   border:none !important;
   background:none !important;
}

.fc-ltr .fc-basic-view .fc-day-number{
    text-align:center !important
}

.fc-title {
    display: inline-block !important;
    color: red !important;
    /* border: 3px solid red; */
    width: 10px;
    height: 10px;
    border: 1px solid red;
    background-color: red;
    display: inline-block;
    line-height: 13px;
}

.fc-content-skeleton .fc-event-container{
    padding:0px !important;
}

.fc-time{
    display:none !important
}

.f_action{

    position:fixed;
    bottom:0px;
    left:0px;
    width:100%;
    height:80px;
    background-color:#fff;
    border-top:1px solid #f15a24
}

.f_menu ,
.f_menu li{
    list-style-type:none;
    padding:0px;
    margin:0px;
}
.f_menu li{
    display:inline-block;
    width:32%;
    text-align:center;
    padding-top:10px;

}

.f_menu li img{
    width:40px;
}
.f_menu li a{
    text-decoration:none;
}
.f_menu li a h4{
    font-weight:normal;
    text-transform:uppercase;
    color:#f15a24;
    font-size:10px;
}
/* LOGIN */

.card-container.card {
    max-width: 350px;
    padding: 40px 40px;
}

/*
 * Card component
 */
.card {
    background-color: #F7F7F7;
    /* just in case there no content*/
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

/*
 * Form styles
 */
.profile-name-card {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 0;
    min-height: 1em;
}

.reauth-email {
    display: block;
    color: #404040;
    line-height: 2;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin #inputEmail,
.form-signin #inputPassword {
    direction: ltr;
    height: 44px;
    font-size: 16px;
}

.form-signin input[type=email],
.form-signin input[type=password],
.form-signin input[type=text],
.form-signin button {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    border-color: rgb(104, 145, 162);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
}

.btn.btn-signin {
    /*background-color: #4d90fe; */
    background-color:#f15a24;
    /* background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
    padding: 0px;
    font-weight: 700;
    font-size: 14px;
    height: 36px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
}

.btn.btn-signin:hover,
.btn.btn-signin:active,
.btn.btn-signin:focus {
    background-color:#f15a24;
}

.forgot-password {
    color: rgb(104, 145, 162);
}

.forgot-password:hover,
.forgot-password:active,
.forgot-password:focus{
    color: rgb(12, 97, 33);
}
.btnLogout{
    float:right !important;
    margin-right:70px !important;
    padding-top:5px !important;
    line-height:10px !important;
    color:#fff !important;
}

.imgProfile{
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    border:1px solid #ddd;
}
.cPage p{
    padding-top:15px;
    margin-left:10px;
    display:inline-block;
}

.preview-img{
    position:relative;
}

.preview-img .play{

    background-image:url('../img/icon/play.png');
    background-repeat:no-repeat;
    background-position:50% 50%;
    z-index:100;
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    background-size: 60px;
}

.n_panel{
    background-color:#fff;
    min-height:500px;
    padding-top:200px;
}

.default{

    padding:0px;
    margin:0px;
    color:#666;
}

.budget{

    background-color:#f15a24;
    color:#fff;

}
p.budget{

    background-color:#f15a24;
    color:#fff;
    padding:5px;
    margin-bottom:0px;
}

p.budget span{
    font-weight:bold;
}
.calendar_panel{
    min-height:600px;
}



