body{
	font-family: "Open Sans","lucida grande","Segoe UI",arial,verdana,"lucida sans unicode",tahoma,sans-serif;
	position:relative;
}
.loading_panel{
	position:fixed;
	left:0px;
	right:0px;
	top:0px;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.5);
	z-index: 10000;
	
}

.pt10{
	padding-top:10px;
}

.l_panel{
	position:fixed;
	top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;

}
.pl0{
	padding-left:0px;
}

.pr5{
	padding-right:5px;
}
.mt10{
	margin-top:10px;

}
.p0{
	padding:0px !important;
}
.inline-block{
	display:inline-block;
}
.header{
	padding:30px;
	border-bottom:1px solid #ddd;
}
.pt10{
	padding-top:10px;
}
.pt0{
	padding-top:0px;
}
.pb0{
	padding-bottom:0px;
}

.bb0{
	border-bottom:0px;
}
.logo{
	width:100px;
	margin-top:10px;
}
.login-form{
	margin-top:30px;	
}
.login-form .form-control{
	box-shadow:none !important
}
.body-panel{
	margin-top:50px;
}

.btn-login{
	background-color:#ff4800;
	color:#fff;
}

.autoExpand,
.previewExpand{

	display:block;
	box-sizing: padding-box;
	overflow:hidden;

   padding:10px;
   width:421px;
   font-size:14px;
   line-height:18px;
   border-radius:6px;
}

.dn{
	display:none;
}

/* PREVIEW PANEL */
.preview_panel img.img-profile{
	width:40px;
	height:40px;
	margin-right:10px;
}
.preview_panel .profile a{
	color: #365899;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    font-size:14px;
} 

.preview_panel .profile p{
	color: #90949c;
	font-size: 12px;
}
span.world{
	background-image:url('../img/world.png');
	background-repeat:no-repeat;
	background-size:100%;
	width: 12px;
    height: 12px;
    display: inline-block;
    line-height: 11px;
}

.preview_message{

	padding:10px;
    width:347px;
    font-size:12px;
    line-height:20px;
    max-height:172px;
    overflow:hidden;
}

.translate_message{

	padding:10px;
    width:347px;
    font-size:12px;
    line-height:20px;
    max-height:172px;
    overflow:hidden;
}
.preview-img{
	position:relative;
	
}
.preview-img .play{

	background-image:url('../img/icon/play.png');
	background-repeat:no-repeat;
	background-position:50% 50%;
	z-index:100;
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background-size: 60px;
}

.preview-img img{


	width:100% !important

}

.mb-profile{
	padding-left:7px;
}

.form-control{
	box-shadow:none !important
}
.select2-container--default .select2-selection--single{

	height:36px !important
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
	line-height:34px !important
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 26px !important;
    position: absolute;
    top: 4px !important;
    right: 6px !important;
    width: 20px !important;
}
.img-thumbnail{
	width:50px !important;
}

/* ======= PAGE =======*/
.oh{
	overflow:hidden !important;
}
.btn-moca-tran{
	background-color:transparent;
	color:#ff4800;
	border:1px solid #ff4800;
	margin-left:10px;
}
.btn-moca-tran:hover{
	color:#ff4800;
	border:1px solid #ff4800;
}

.btn-moca{
	background-color:#ff4800;
	color:#fff;
}
.btn-moca:hover{
	color:#fff;
	background-color:#ee591e
}
.cover-panel{
	position:relative;
	margin-bottom:20px;
	background-color:#fff;
	padding-bottom:10px;
}
.cover-panel .img-cover{
	height:135px;
	width:100%;
}
.img_profie img{
	width:40px;
	height:40px;
	margin-right:10px;
}
.cover-panel h3{
	padding-left:10px;
	font-size:16px;
}

.cover-panel .profile-panel{

	position:absolute;
	top:5px;
	left:5px;
	padding:5px;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	background-color:#fff;
}

.cover-panel .profile-panel img{

	border:1px solid #ddd;
}

.d-panel{
	position:absolute;
	left:0px;
	right:0px;
	top:0px;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.5);
	z-index:1000;
	display:none;
	text-align:center;
}
.cover-panel:hover .d-panel {
	display:block;
	padding-top:80px;
}

.radio-selector input{
	margin:0;padding:0;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
}

.drinkcard-cc{
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    width:30px;
    height:30px;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
       -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
            filter: brightness(1.8) grayscale(1) opacity(.7);
}
.drinkcard-cc:hover{
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
       -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
            filter: brightness(1.2) grayscale(.5) opacity(.9);
}

.p-photo{
	background-image:url('../img/icon/photo.png');
}

.p-video{
	background-image:url('../img/icon/video.png');
	background-size: 95%;
}

.radio-selector input:active +.drinkcard-cc{opacity: .9;}
.radio-selector input:checked +.drinkcard-cc{
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
}
.p-name{
	color: #365899;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
}

.mb-panel{
	background-image:url('../img/icon/iphone.png');
	min-height:600px;
	background-size:100%;
	background-position-y:-18px;
	padding-top: 105px;
    padding-left: 30px;
    padding-right:32px;


}
.action-panel{

	border-bottom:1px solid #ddd;
}
.action-panel ul{
	list-style-type:none;
	padding:0px;
	margin-top:20px;
	margin-left:10px;
	margin-right:10px;
	border-top:1px solid #ddd;
	padding-top:10px;
}
.action-panel ul li{
	width:32%;
	text-align:center;
	list-style-type:none;
	display:inline-block;

}
.action-panel ul li span{
	font-size:12px;
	font-weight:bold;
}
.action-panel ul li span.like{
	background-image:url('../img/icon/like.png');
	width:14px;
	height:14px;
	display:inline-block;
}
.action-panel ul li span.comment{
	background-image:url('../img/icon/comment.png');
	width:14px;
	height:13px;
	display:inline-block;

}
.action-panel ul li span.share{
	background-image:url('../img/icon/share.png');
	width:14px;
	height:12px;
	display:inline-block;
}

.img-post-type{
	width:24px;
}
.standard-label{
	padding:5px;
	font-size:12px;
	color:#999;
}

.loader {
    border: 3px solid #f3f3f3; /* Light grey */
    border-top: 3px solid #3498db; /* Blue */
    border-radius: 50%;
    width:40px;
    height:40px;
    animation: spin 2s linear infinite;
}

.lbl_currency{
	line-height:32px
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


/*========= CAMPAIGN ===========*/
.campaign-nav{
	margin-bottom:30px;
}
.campaign-nav li{
	width:33% !important;

}
.tab-pane h4.title{
	background-color:#999;
	text-align:center;
	padding:10px;
	color:#fff;
}

.btn-confirm{

	background: rgb(66, 183, 42) !important;
    border-color: rgb(66, 183, 42) !im;
}
.mandatory{
	padding:5px;
	color:red;
}
.pn{
	pointer-events:none;
}

.fc .fc-button-group>:first-child{
	text-transform:capitalize !important
}
.fc-toolbar .fc-state-active, .fc-toolbar .ui-state-active{
	text-transform:capitalize !important
}
.btnSubmit{
	background-color:#ff4800;
	border:1px solid #ff4800;
	color:#fff;

}
.btnSubmit:hover{

	background-color:#ff4800;
	border:1px solid #ff4800;
	color:#fff;
}
.fc-time{
	display:none !important;
}
.img_thumbnail{
	width:40px;
	margin-right:10px;
}

.comment_panel{
	padding:20px;
	margin-bottom:50px;
}
.frmComment button{
	margin-top:10px;
}
.r{
	margin-bottom:10px;
	clear:both;
	overflow:hidden;
}

.r{
    width:100%;
    margin-bottom:5px;
}
.r .p_p{
    width:15%;
}
.r .p_p img{
	width:85%;
	border:1px solid #ddd;
	border-radius:50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;

}

.r .p_tx{
    width:80%;
    padding-top:5px;
    padding-right:5px;
}
.fc-title a{
	color:#fff !important;
	text-decoration:none !important;
}

.default{

	padding:0px;
	margin:0px;
	color:#666;
}




